form((ngSubmit)="updatePassword()", [formGroup]="restorePasswordForm", novalidate, autocomplete='off')
  h3.text-center Enter your new password
  .form-group(
    control-validation,
    [rules]="passwordValidators",
    [control]="restorePasswordForm.get('userPassword')"
  )
    label.control-label(for="password") Password
    input.form-control#password(
      #controlElement,
      type="password",
      placeholder="Password",
      formControlName="userPassword"
    )
  .form-group(
    control-validation,
    [rules]="passwordValidators",
    [control]="restorePasswordForm"
  )
    label.control-label(for="password-confirm") Password confirm
    input.form-control#password-confirm(
      #controlElement,
      type="password",
      placeholder="Password confirm",
      formControlName="passwordConfirm"
    )
  .form-group
    button.btn.btn-success([disabled]="restorePasswordForm.invalid")
      | Update password